body {
  margin: 0;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(253, 203, 50) 0%,
    rgb(244, 56, 98) 100.2%
  );
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  color: white;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.joke-container {
  background-color: white;
  width: 600px;
  height: 200px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #c80a01;
  padding: 10px;
  text-align: center;
}

button {
  background: white;
  font-family: "Bungee Tint", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 20px;
  border: none;
  box-shadow: 0px 0px 10px #c80a01;
}
button:hover {
  cursor: pointer;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(253, 203, 50) 0%,
    rgb(244, 56, 98) 100.2%
  );
  color: white;
}

.welcome-message {
  font-family: "Bungee Tint", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  color: rgb(253, 203, 50);
}
footer {
  position: fixed;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%, -50%);
}
