body {
  margin: 0;
  background-image: url(/images/pic1.jpg);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  color: #ffffff;
}

.doto {
  font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "ROND" 0;
}

.font1 {
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.joke-container {
  background-color: #00000067;
  width: 600px;
  height: 200px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #778e72;
  padding: 10px;
  text-align: center;
}

button {
  border: none;
  background: #e7e5e1;
  color: #000000;
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 7px #778e72;
  font-size: 25px;
  
}
button:hover {
  cursor: pointer;
  background-color: rgb(5, 0, 5);
  color: #ffffff;
  
}

.welcome-message {
  margin-top: 20px;
  color: #ffffff;
  font-size: 25px;
}

a {
  color: rgb(255, 255, 255);
  font-weight: 700;
}
a:hover {
  color: #b1f21a;
}
footer {
  position: fixed;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%, -50%);
}
