body {
  margin: 0;
  background-image: url(/images/pic.jpg);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  color: #778E72;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.joke-container {
  background-color: #ffffff;
  width: 600px;
  height: 200px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #778E72;
  padding: 10px;
  text-align: center;
}

button {
  border: none;
  background: #B39085;
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 7px #778E72;
  color: #ffffff;
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-size: 25px;
  font-style: normal;
}
button:hover {
  cursor: pointer;
  background: #E7E5E1;
  color: #778E72;
}

.welcome-message {
  margin-top: 20px;
  color: #778E72;
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-size: 35px;
  font-style: normal;
}

a {
  color: #EB9A41;
}
footer {
  position: fixed;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%, -50%);
}
